pyaxmlparser>=0.3.24
paramiko==3.4.0
PyQt5==5.15.2
htmlwebshot==0.1.2
scp==0.14.5
pandas==2.2.2
bcrypt==4.0.1
requests==2.31.0
colorlog==6.7.0
py7zr==0.20.5
filelock==3.12.2
pretty-errors==1.2.25
bs4==0.0.1
autopep8==2.0.4
cryptography==39.0.1